@import "../root.css";

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-content {
    border-radius: 8px;
    border: 1px solid transparent;
    align-items: center;

    background-color: var(--modal-background-color);
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    max-width: 600px;
}

.modal-name {
    text-align: center;
    font-size: x-large;
}

.items-block-title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 5px;

    color: var(--title-text-color);
    font-style: italic;
    font-size: 20px;
}


.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* General settings group styles */
.items-block > .title {
    margin-left: 15px;
    color: var(--title-text-color);
    font-style: italic;
    font-size: 16px;
}

.items-block select {
    /* For making flat looking */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--modal-select-color);
    border-radius: 8px;
    border: solid 1px #3a3a3a6e;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    /*width: 95%;*/
}

.items-block select:hover {
    border-color: #999;
}

.items-block select:focus {
    outline: none;
    box-shadow: 0 0 4px #aaa;
}

.items-block > .row {
    justify-content: space-between;
}

#response-object {
    margin: 10px 0;
}