.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-content {
    border-radius: 8px;
    border: 1px solid transparent;

    background-color: var(--modal-background-color);
    /*margin: 10% auto;*/
    padding: 20px;
    width: 60%;
    max-width: 600px;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* General settings group styles */
.settings-group {
    background-color: var(--items-block-color);
    border: 1px solid var(--items-block-border-color);
    border-radius: inherit;
    padding: 5px 5px 5px 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.settings-group > .title {
    margin-top: 0;
    margin-left: 15px;
    color: var(--title-text-color);
    font-style: italic;
    font-size: 16px;
}

.settings-group select {
    /* For making flat looking */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0 10px 0 10px;
    /*margin: 5px 5px 5px 10px;*/

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    color: var(--text-color);
    background-color: var(--modal-select-color);

    border-radius: 8px;
    border: solid 1px #3a3a3a6e;

    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    width: 95%;
}

.settings-group > .row {
    justify-content: space-between;
}

.settings-group select:hover {
    border-color: #999;
}

.settings-group select:focus {
    outline: none;
    box-shadow: 0 0 4px #aaa;
}

/***************************************/
/*               Elements              */
/***************************************/
#radio-channel {
    margin-left: 0;
    width: 70px;
    text-align: center;
}

#discover-terminals {
    width: fit-content;
    margin-right: 20px;
    color: #2a2a2a;
    background-color: var(--secondary-button-color);
    border: solid 1px var(--secondary-button-border-color);

    /*margin-left: 100px;*/
}

#discover-terminals:active {
    background-color: #0f3b34;
    color: #c4c4c4;
    box-shadow: 2px 2px black;
}

#apply-settings-row {
    margin-top: 10px;
    align-self: end;
}

/* Terminal table */
#terminal-data-table {
    background-color: var(--modal-table-background-color);
    border: solid 1px var(--modal-table-border-color);
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    /*border: 1px solid black;*/
}

#terminal-data-table tr {
    /*background-color: black;*/
    text-align: center;
    /*align-items: center;*/
}

#terminal-data-labels {
    background-color: var(--modal-table-labels-color);
}

#terminal-data-labels td {
    /*border: 1px solid #181818;*/
    /*background-color: #232827;*/
    /*text-align: center;*/
    border-radius: 10px;
    align-items: center;
}

.term-name {
    text-align: center;
    width: 100%;
}

/************ Statuses ************/
.hub-status {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bolder;
    width: 90px;
}

.hub-status.not-detected {
    color: #8a8a8a;
    background: rgba(173, 173, 173, 0.1);
    border: 1px solid #818181;
}

.hub-status.detected {
    color: #52aa65;
    background: rgba(82, 170, 101, 0.1);
    border: 1px solid #52aa65;
}

/* Status badge */
.term-status {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bolder;
    width: 60px;
}

/* Define different badge styles for each status */
.term-status.missing {
    background-color: gray;
    color: white;
}

.term-status.detected {
    background-color: green;
    color: white;
}

.term-status.pressed {
    background-color: blue;
    color: white;
}

.term-status.penalty {
    background-color: red;
    color: white;
}

#hub-data-block {
    margin-top: 10px;
}

.user-image {
    /*margin: 5px;*/
    width: 32px;
    height: 32px;

    /*border: 1px solid black;*/
    border-radius: 50%;

    cursor: pointer;
}
