@import "./modal-common.css";



/***************************************/
/*               Elements              */
/***************************************/
#radio-channel {
    margin-left: 0;
    width: 70px;
    text-align: center;
}

#set-hub-radio-channel {
    margin-right: 20px;
}

#apply-settings-row {
    margin-top: 10px;
    align-self: end;
}

/* Terminal table */
.term-name {
    text-align: center;
    width: 100%;
}

/************ Statuses ************/
.hub-status {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 0 4px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bolder;
    width: 100px;
}

.hub-status.serial-port-error {
    color: #ff0000;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff0000;
    box-shadow: 0 0 0.5em #ff0000;
    transition: box-shadow 0.5s;
}

.hub-status.unknown-device {
    color: #8a8a8a;
    background: rgba(163, 147, 3, 0.1);
    border: 1px solid #818181;
}

.hub-status.detected {
    color: #52aa65;
    background: rgba(82, 170, 101, 0.1);
    border: 1px solid #52aa65;
    box-shadow: 0 0 0.5em #58db24;
    transition: box-shadow 0.5s;
}

/* Status badge */
.term-status {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bolder;
    width: 60px;
}

/* Define different badge styles for each status */
.term-status.missing {
    background-color: gray;
    color: white;
}

.term-status.detected {
    background-color: green;
    color: white;
}

.term-status.pressed {
    background-color: blue;
    color: white;
}

.term-status.penalty {
    background-color: red;
    color: white;
}

#hub-data-block {
    margin-top: 10px;
}
