@import "./modal-common.css";
@import "../general.css";

#stats-modal {
    display: none;
    opacity: 1;
}

.modal-name {
    margin: 0px;
    margin-bottom: 20px;
}

.stats-modal-content {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stats-text {
    text-align: center;
    font-weight: 800;
    margin: 10px 0px 10px 0px;
}

.round-common-stats {
    display: block;
    column-count: 2;
    column-gap: 20px;
    text-align: center;
    padding: 0;
}

#stats-table-container {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
}
