@import "general.css";
@import "./modal/pig-in-poke-modal.css";
@import "./modal/auction-modal.css";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px gray;
    overflow: auto;

    background-color: var(--modal-table-background-color);
}

#round-screen {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title-bar {
    margin: 15px;
    margin-bottom: 0;
    padding: 3px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: solid 1px #dcc680;
    border-radius: 15px;
    color: black;
    background-color: #fdf2d046;
}

.question-meta-data-box > .title-bar {
    display: flex;
    flex-direction: column;
}
.question-meta-data-box > .title-bar > .round-label {
    font-size: 2em;
}

#controls {
    display: none;
}

.round-label {
    flex: 1;
    height: 27px;
    text-align: center;

    padding: 20px 0px 10px 0px;
    margin: 0;
    margin-left: 5px;

    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
}

#player-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    border-radius: 10px;
    background-color: var(--modal-table-background-color);

    height: 30vh;
    margin: 10px;
    margin-top: 0;
}

.player-badge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */

    background-color: var(--items-block-color);
    border: 1px solid var(--items-block-border-color);
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin: 5px;
    max-width: 20%;

    transition: box-shadow 0.5s;
}

.inactive {
    color: #000000;
    filter: grayscale(100%);
    border: 1px solid #818181;
}

.inactive:hover {
    filter: drop-shadow(0 0 0 #000000) grayscale(100%);
    border: 1px solid #818181;
}

/* Statuses */
.player-badge.inactive {
    color: #000000;
    filter: grayscale(100%);
    border: 1px solid #818181;
}

.player-badge.game-over {
    color: #000000;
    filter: grayscale(100%);
    border: 1px solid #818181;
}

.player-badge.first-response {
    color: #ffffff;
    background: rgba(45, 62, 163, 0.5);
    border: 1px solid #3844b3;
    box-shadow: 0 0 0.5em #243fdb;
}

.player-badge.topic-selection {
    color: #ffffff;
    background: rgba(56, 143, 146, 0.8);
    border: 1px solid #18afb9;
    box-shadow: 0 0 0.5em #2dd1dd;
}

.player-badge.target-player {
    color: #ffffff;
    background: rgba(108, 36, 190, 0.836);
    border: 1px solid #3a0086;
    box-shadow: 0 0 0.9em #59049e;
}

.player-badge.wrong-answer {
    color: #ffffff;
    background: rgba(190, 36, 36, 0.836);
    border: 1px solid #cc0d0d;
    box-shadow: 0 0 0.9em #ff0000;
}

.player-badge.correct-answer {
    color: #ffffff;
    background: rgba(82, 170, 101, 0.6);
    border: 1px solid #52aa65;
    box-shadow: 0 0 0.5em #58db24;
}

.player-icon {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.player-details {
    display: flex;
    flex-direction: column;

    /* position: relative; */
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;

    padding: 3px 7px 3px 7px;
}

.player-details-name {
    text-align: center;
    padding: 5px;
    margin: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: bolder;
    font-size: 20px;
    background-color: var(--modal-table-labels-color);
}

.player-details-score {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    padding: 0 10px;
    margin: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--accent-color);

    font-size: 20px;
} 

.player-details-score-value {
    text-align: center;
    padding: 5px;
    margin: 0;

    font-weight: bold;
    font-size: 20px;
}

.player-details-bid {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    padding: 0 10px;
    margin: 0;

    background-color: var(--secondary-button-border-color);

    font-size: 20px;
}

.player-details-bid-value {
    text-align: center;
    padding: 5px;
    margin: 0;

    font-weight: bold;
    font-size: 20px;
}

/* Table */
#round-data {
    /* border-collapse: collapse; */
    /* border: 1px solid gray; */
    flex: 1;
    background-color: var(--modal-table-background-color);
}

#round-data th,
#round-data td {
    border: 1px solid gray;

    background-color: var(--items-block-color);
    border-radius: 15px;
}

#round-data-box {
    flex: 1;
    border: 0;
}

.items-block {
    margin: 10px;
    padding: 0;
}

.round-td-theme {
    width: 40%;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.round-td-price {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    transition: 0.5s;
}

.round-td-price:hover {
    color: #ff8a3c;
    filter: drop-shadow(0 0 0.2em #db9224);
}

.round-td-price.used {
    color: #868686;
    transition: 0.5s;
}

.round-td-price.used:hover {
    filter: drop-shadow(0 0 0em #000000);
}

/* Question screen */
#question-screen {
    display: none;
    flex-direction: row;
    flex: 1;
    margin: 10px;
}

/* Question */
.question-viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background-color: #000000;
    border: solid 3px var(--items-block-border-color);
    border-radius: 20px;
}

#question-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 20%;

    padding-left: 10px;
    margin: 10px;
}

#question-sidebar button {
    margin: 5px;
    font-size: large;
    font-weight: bold;
}

.question-text {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* flex: 1; */
    /* text-align: center; */

    padding: 1em;
    border-radius: 0.3em;

    font-weight: bold;
    font-size: 4em;
    font-family: sans-serif;

    background-color: var(--modal-table-background-color);
    color: var(--text-color);
}

#controls {
    display: flex;
    flex-direction: column;
}

.question-meta-data-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    margin-top: 10px;

    border: solid 1px var(--items-block-border-color);
    border-radius: 10px;
    background-color: var(--items-block-color);
}

.question-info {
    border: solid 1px #0baf0b;
    border-radius: 10px;
    text-align: center;
    background-color: #86e486cb;
}

/* #allow-answer-btn { */
/* background-color: var(--pri); */
/* } */

#correct-answer-btn {
    background-color: rgb(49, 134, 0);
}

#correct-answer-btn:hover {
    border-color: #0e4700;
    filter: drop-shadow(0 0 0.2em #4fdb24);
}

#correct-answer-btn:active {
    border-color: #002b06;
    background-color: rgb(0, 88, 0);
}

#wrong-answer-btn {
    background-color: rgb(148, 0, 0);
}

#wrong-answer-btn:hover {
    border-color: #470000;
    filter: drop-shadow(0 0 0.2em #db2424);
}

#wrong-answer-btn:active {
    border-color: #2b0000;
    background-color: rgb(88, 0, 0);
}

.question-meta-data {
    margin: 1rem;

    font-size: 2rem;
    /* background-color: #691f1f; */
}
