@import "general.css";
@import "./modal/pig-in-poke-modal.css";
@import "./modal/auction-modal.css";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    height: 99.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px gray;
    overflow: auto;

    background-color: var(--modal-table-background-color);
}

#title-bar {
    margin: 15px;
    margin-bottom: 0;
    padding: 3px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: solid 1px #DCC680;
    border-radius: 15px;
    color: black;
    background-color: #fdf2d046;
}

#controls {
    display: none;

}

#round-label {
    flex: 1;
    height: 27px;
    text-align: center;

    padding: 20px 0px 10px 0px;
    margin: 0;
    margin-left: 5px;

    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
}


#player-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    border-radius: 10px;
    background-color: var(--modal-table-background-color);

    height: 30vh;
    margin: 10px;
    margin-top: 0;
}

.player-badge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */

    background-color: var(--items-block-color);
    border: 1px solid var(--items-block-border-color);
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin: 5px;
    max-width: 20%;

    transition: box-shadow 0.5s;
}

/* Statuses */
.player-badge.inactive {
    color: #000000;
    filter: grayscale(100%);
    border: 1px solid #818181;
}

.player-badge.game-over {
    color: #000000;
    filter: grayscale(100%);
    border: 1px solid #818181;
}

.player-badge.first-response {
    color: #ffffff;
    background: rgba(45, 62, 163, 0.5);
    border: 1px solid #3844b3;
    box-shadow: 0 0 0.5em #243fdb;
}

.player-badge.topic-selection {
    color: #ffffff;
    background: rgba(56, 143, 146, 0.8);
    border: 1px solid #18afb9;
    box-shadow: 0 0 0.5em #2dd1dd;
}

.player-badge.target-player {
    color: #ffffff;
    background: rgba(108, 36, 190, 0.836);
    border: 1px solid #3a0086;
    box-shadow: 0 0 0.9em #59049e;
}

.player-badge.wrong-answer {
    color: #ffffff;
    background: rgba(190, 36, 36, 0.836);
    border: 1px solid #cc0d0d;
    box-shadow: 0 0 0.9em #ff0000;
}

.player-badge.correct-answer {
    color: #ffffff;
    background: rgba(82, 170, 101, 0.6);
    border: 1px solid #52aa65;
    box-shadow: 0 0 0.5em #58db24;
}


.player-icon {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.player-details {
    display: flex;
    flex-direction: column;

    /* position: relative; */
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;

    padding: 3px 7px 3px 7px;
}

.player-details-name {
    text-align: center;
    padding: 5px;
    margin: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-weight: bolder;
    font-size: 20px;
    background-color: var(--modal-table-labels-color);
}

.player-details-score {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    padding: 0 10px;
    margin: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: var(--secondary-button-border-color);
    font-size: 20px;
}

.player-details-score-value {
    text-align: center;
    padding: 5px;
    margin: 0;

    font-weight: bold;
    font-size: 20px;
}

/* Table */
#round-data {
    /* border-collapse: collapse; */
    /* border: 1px solid gray; */
    flex: 1;
    background-color: var(--modal-table-background-color);
}

#round-data th,
#round-data td {
    border: 1px solid gray;

    background-color: var(--items-block-color);
    border-radius: 15px;
}

#round-data-box {
    flex: 1;
    border: 0;
}

.items-block {
    margin: 10px;
    padding: 0;
}

.round-td-theme {
    width: 40%;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.round-td-price {
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    transition: 0.5s;
}

.round-td-price:hover {
    color: #ff8a3c;
    filter: drop-shadow(0 0 0.2em #db9224);
}

.round-td-price.used {
    color: #868686;
    transition: 0.5s;
}

.round-td-price.used:hover {
    filter: drop-shadow(0 0 0.0em #000000);
}
