@import "general.css";
@import "modal/settings-modal.css";
@import "modal/pack-info-modal.css";

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}

.logo.bronucon:hover {
    filter: drop-shadow(0 0 2em #dbbd24);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center; 
}
