@import "general.css";
@import "modal/settings-modal.css";
@import "modal/pack-info-modal.css";
@import "modal/hub-debug-modal.css";

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}

.logo.bronucon:hover {
    filter: drop-shadow(0 0 2em #dbbd24);
}

#pack-error-info-table {
    border-collapse:separate;
    border-spacing: 0 1em;
    max-width: 100%;
    overflow-x: auto;
}

#pack-error-info-table .key {
    width: 20%;
    font-weight: bold;
}

#pack-error-info-table tr {
    vertical-align: top;
}

#pack-error-info-table td {
}

#pack-error-details {
    font-size: 10pt;
    font-family: "Inconsolata", monospace;
    line-height: 1.2;
}

#error-block {
    max-width: 100%;
    overflow-x: auto;
}